<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238048054173-gm80qm7jvac9eine1b2ll05vvbt8kl8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238048054173-gm80qm7jvac9eine1b2ll05vvbt8kl8c</string>
	<key>API_KEY</key>
	<string>AIzaSyDE4kwi4r3xr5QnvB_xi84BOwvnHLN34sI</string>
	<key>GCM_SENDER_ID</key>
	<string>238048054173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNFirebases</string>
	<key>PROJECT_ID</key>
	<string>rnfirebase-b7684</string>
	<key>STORAGE_BUCKET</key>
	<string>rnfirebase-b7684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238048054173:ios:3b09e5d8b2e1227aeafd74</string>
	<key>DATABASE_URL</key>
	<string>https://rnfirebase-b7684.firebaseio.com</string>
</dict>
</plist>